[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/proyecto/ejemplo
ExecStart=/home/ubuntu/proyecto/entorno/bin/gunicorn --workers 3 ejemplo.wsgi:application

[Install]
WantedBy=multi-user.target
